.App{
    background-color: black;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;

    @media all and (min-width: 768px) {
        height: 100px;
    }

    &__logo {
        height: 150%;
        margin-top: 30px;

        @media all and (min-width: 768px) {
            margin-top: 70px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        @media all and (min-width: 768px) {
            margin-top: 100px;
            
        }
        
        &_label {
            font-family: "Jost", sans-serif;
            font-size: 18px;
            color: rgb(201, 24, 24);
            width: 85vw;

            @media all and (min-width: 768px) {
                font-size: 35px;
            }
        }

        &_input {
            width: 85vw;
            height: 30px;
            margin-bottom: 20px;
            background-color: whitesmoke;

            @media all and (min-width: 768px) {
                height: 50px;
            }
        }

        &_select {
            width: 85vw;
            height: 30px;
            margin-bottom: 20px;
            font-family: "Jost", sans-serif;
            font-size: 16px;
            background-color: whitesmoke;

            @media all and (min-width: 768px) {
                height: 50px;
                font-size: 25px;
            }

        }
    }

    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 30px;

        @media all and (min-width: 768px) {
            margin-top: 60px;
        }

        &_one {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90vw;
            border: solid 2px #74BDED;
            margin-bottom: 10px;

            &-quote {
                width: 77vw;
                height: auto;
                padding: 10px;
                font-size: 20px;
                font-family: "Caveat", sans-serif;
                color: white;
                border: solid 1px #74BDED;

                @media all and (min-width: 768px) {
                    font-size: 35px;
                }
            }

            &-character {
                width: 23vw;
                height: auto;
                font-size: 20px;
                font-family: "Caveat", sans-serif;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                @media all and (min-width: 768px) {
                    font-size: 35px;
                }
            }
        }
    }

    &__form2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        //margin-left: 30px;

        @media all and (min-width: 768px) {
            margin-top: 70px;
        }

        &_title {
            font-family: "Jost", sans-serif;
            font-size: 25px;
            color: #E5D811;
            margin-bottom: 15px;

            @media all and (min-width: 768px) {
                font-size: 40px;
            }
        }

        &_label {
            font-family: "Jost", sans-serif;
            font-size: 18px;
            color: rgb(201, 24, 24);
            margin-top: 5px;
            width: 85vw;

            @media all and (min-width: 768px) {
                font-size: 35px;
            }
        
        }

        &_input {
            width: 85vw;
            height: 30px;
            margin-bottom: 20px;
            background-color: whitesmoke;

            @media all and (min-width: 768px) {
                height: 50px;
                font-size: 25px;
            }
        }

        &_submit {
            border: none;
            font-family: "Jost", sans-serif;
            font-size: 16px;
            padding: 7px;
            margin-bottom: 60px;

            @media all and (min-width: 768px) {
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 80px;
            }
        }
    }
}

.hidden {
    display: none;
}

.visible {
    border: solid 2px red;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 60px;
    padding: 10px;

    @media all and (min-width: 768px) {
        font-size: 45px;
    }
}



//@media all and (min-width: 1200px) 